*{
    margin: 0;
    padding: 0;
}
.icons-main{
    &-header{
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 5px #d8d8d8;
        .logo{
            height: 50px;
        }
        .search{
            flex: 1;
            margin: 0 15px;
            height: 40px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            &-box{
                width: 50%;
                .wp-input{
                    width: 100%;
                }
                .is-local-search{
                    border-color: #ffcbbd;
                    &:hover{
                        border-color: #ff724b !important;
                    }
                }
            }
        }
        .navs{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &>*{
                padding: 0 15px;
                height: 100%;
                color: #47a0da;
                cursor: pointer;
                &:hover{
                    color: #0088FF;
                }
                &+*{
                    border-left: 1px solid #d8d8d8;
                }
            }
        }

    }
    .notSearchResult{
        color: #999999;
        text-align: center;
        font-size: 14px;
        margin-top: 30px;
        width: 100%;
    }
    .icons-container{
        display: flex;
        padding: 15px;
        flex-wrap: wrap;
        gap: 5px;
        &-item{
            width: calc((100% - (5px * 9) - 30px) / 10);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 80px;
            border:1px dashed transparent;
            border-radius: 6px;
            cursor: pointer;
            user-select: none;
            padding-top: 15px;
            &-icon{
                .icon{
                    width: 25px !important;
                    height: 25px !important;
                }
            }
            &-action{
                font-size: 12px;
                color: #999999;
                margin-top: 15px;
                opacity: 0;
            }
            &:hover{
                border:1px dashed #d8d8d8;
                background-color: #efefef;
                .icons-container-item-action{
                    color: #4b98fc;
                    opacity: 1;
                }
            }
            &-active{
                border:1px solid #4d9ccd;
                background-color: #e9f6ff;
                .icons-container-item-action{
                    color: #4d9ccd;
                    opacity: 1;
                }
            }
            &-icon-name{
                font-size: 12px;
                color: #999999;
                width: 100%;
                display: flex;
                justify-content: center;
                overflow: hidden;
                &>*{
                    padding: 0 15px;

                }
            }
            &-operate{
                span{
                    font-size: 12px;
                    color: #ff724b;
                    &:hover{
                        color: #ff0000;
                    }
                    &+span{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    &-pagination{
        display: flex;
        justify-content: center;
        padding: 15px;
        margin-top: 30px;
    }
}

.markdown-body{
    width: 80%;
    margin: 15px auto 0 auto  !important;
}
