$primary-color: #626aef;
$danger-color: #e00218;
$success-color: #38c83a;

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
    $colors: (
        'primary': (
            'base': $primary-color,
        ),
        'danger': (
            'base': $danger-color
        ),
        'success': (
            'base': $success-color
        )
    ),
);

:root {
    --primary-color: #{$primary-color};
    --danger-color: #{$danger-color};
    --success-color: #{$success-color};
    --wp-color-primary: var(--primary-color);
    --wp-color-danger: var(--danger-color);
    --wp-color-success: var(--success-color);
    --wp-checkbox-checked-color: var(--primary-color);
    --wp-radio-checked-color: var(--primary-color);
    --wp-menu-active-color: var(--primary-color);
    --wp-dropdown-min-width: 80px;
    --wp-dropdown-font-size: 14px;
}

.el-form-item__label::after {
    content: '：';
}

.el-cascader,
.el-select,
.el-input-number {
    width: 100% !important;
}

.el-input-number .el-input__inner {
    text-align: left !important;
}

.el-input__prefix-inner {
    align-items: center;
}

.wp-tree-node {
    --wp-tree-node-hegiht: 35px;
}