@font-face {
    font-family: 'iconfont'; /* Project id 3927693 */
    src: url('iconfont.woff2?t=1677822914064') format('woff2'),
        url('iconfont.woff?t=1677822914064') format('woff'),
        url('iconfont.ttf?t=1677822914064') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xinjianwenjianjia:before {
    content: '\e664';
}

.icon-shangchuan:before {
    content: '\e665';
}

.icon-shousuo:before {
    content: '\e668';
}

.icon-wenjianjia:before {
    content: '\e663';
}

.icon-tianjia:before {
    content: '\e662';
}

.icon-zichan:before {
    content: '\e650';
}

.icon-zuijin:before {
    content: '\e651';
}

.icon-weishibiewenjian:before {
    content: '\e652';
}

.icon-weixuanzhong-xiajiantou:before {
    content: '\e653';
}

.icon-sousuo:before {
    content: '\e654';
}

.icon-tupian:before {
    content: '\e655';
}

.icon-xuanzhong:before {
    content: '\e656';
}

.icon-weixuanzhong:before {
    content: '\e657';
}

.icon-left:before {
    content: '\e658';
}

.icon-wuye:before {
    content: '\e659';
}

.icon-doc:before {
    content: '\e65a';
}

.icon-zuzhi:before {
    content: '\e65b';
}

.icon-jpg:before {
    content: '\e65c';
}

.icon-pdf:before {
    content: '\e65d';
}

.icon-right:before {
    content: '\e65e';
}

.icon-tubiaopailie:before {
    content: '\e65f';
}

.icon-png:before {
    content: '\e660';
}

.icon-zip:before {
    content: '\e661';
}

.icon-biaodantiaojianxuanze:before {
    content: '\e639';
}

.icon-biaodantiaojianxuanzexuanzhong:before {
    content: '\e63a';
}

.icon-fujian:before {
    content: '\e63b';
}

.icon-liebiaopailie:before {
    content: '\e63c';
}

.icon-qita:before {
    content: '\e63d';
}

.icon-shaixuankuangshangla:before {
    content: '\e63e';
}

.icon-paidan:before {
    content: '\e63f';
}

.icon-daiban:before {
    content: '\e640';
}

.icon-mobanguanli:before {
    content: '\e641';
}

.icon-shaixuankuangxiala:before {
    content: '\e642';
}

.icon-biaodantiaojianxuanzexuanzhong2:before {
    content: '\e643';
}

.icon-shipinleiwenjian:before {
    content: '\e644';
}

.icon-changguan:before {
    content: '\e645';
}

.icon-gongdanshezhi:before {
    content: '\e646';
}

.icon-shipin:before {
    content: '\e647';
}

.icon-xuanzhong-shangjiantou:before {
    content: '\e648';
}

.icon-hetong:before {
    content: '\e649';
}

.icon-zhishiku:before {
    content: '\e64a';
}

.icon-xiaoxi:before {
    content: '\e64b';
}

.icon-huiyi:before {
    content: '\e64c';
}

.icon-wendang:before {
    content: '\e64d';
}

.icon-shuaxin:before {
    content: '\e64e';
}

.icon-shouye:before {
    content: '\e64f';
}
