// 颜色
@main-color: #0066FF;
@success: #67C23A;
@themeColor: @main-color;
@themeColor2: #0298FF;
@topBarActiveColor: #850109;
@border-color: #cccccc;
@bj-color: #F7F8FA;
@gray-color: #cccccc;

@themeBackgroundColor: #F2F2F2;//主题背景

// 布局相关
@LayoutHeader:51px;// 头部高度
@LayoutNav:220px;// 左侧导航宽度

// 框架宽高固定值
@topNavHeight: 45px; // 顶部导航栏高度
@bottomNavHeight: 50px; // 底部导航栏高度

// 字号
@font-size: 14px;
@title-font-size: 16px;
@nav-font-size: 18px;

// 单位
@unit5:5px;
@unit10:10px;
@unit15:15px;
@unit20:20px;
@unit30:30px;
@unit40:40px;


@transition: all ease-in-out 0.3s;
