body {
    --editor-text-active: #3c92fc;
    --editor-text-color: #ffffff;
    --editor-bg: #191a1d;
    --editor-border: #0000;
    --editor-select-bg-color: #000;
    --editor-color-placeholder: #6f6f71;
    --editor-color: var(--editor-text-color);
    --editor-font-size: 12px;
    .editor {
        user-select: none;
        .n-input {
            background: var(--editor-bg);
            &:not(.n-input--disabled).n-input--focus {
                background: var(--editor-bg);
            }
            input {
                color: var(--editor-color);
                font-size: 12px !important;
            }
            .n-input__border {
                border: none;
            }
            .n-input__placeholder {
                color: var(--editor-color-placeholder);
                font-size: var(--editor-font-size);
            }
        }
        .n-select {
            .n-base-selection {
                .n-base-selection-label {
                    --n-color: var(--editor-bg);
                    font-size: var(--editor-font-size);
                }
                .n-base-selection__border {
                    --n-border: var(--editor-border);
                }
                .n-base-selection-input {
                    color: var(--editor-text-color);
                }
            }
            .n-base-selection .n-base-selection-placeholder {
                color: var(--editor-color-placeholder);
                font-size: var(--editor-font-size);
            }
            .n-base-selection
                .n-base-selection-label
                .n-base-selection-label__render-label {
                color: var(--editor-text-color);
            }
            .n-base-selection-input__content {
                color: var(--editor-text-color);
            }
            .n-base-selection:not(
                    .n-base-selection--disabled
                ).n-base-selection--active
                .n-base-selection-label {
                background: var(--editor-bg);
            }
        }
    }
    .AttrCardComponent-n-select {
        background-color: var(--editor-select-bg-color);
        .n-base-select-option {
            .n-base-select-option__content {
                color: var(--editor-text-color);
                color: #cacbcb;
            }
            &:hover {
                color: var(--editor-text-active);
                .n-base-select-option__content {
                    color: var(--editor-select-bg);
                }
            }
            &.n-base-select-option--pending {
                color: var(--editor-text-active);
                background-color: transparent !important;
                &:before {
                    background-color: transparent !important;
                }
                .n-base-select-option__content {
                    color: var(--editor-text-active);
                }
            }
            &.n-base-select-option--selected {
                .n-base-select-option--pending;
            }
        }
    }
    .attrs-n-radio-group {
        .n-radio__dot-wrapper {
            display: none;
        }
        label {
            width: 100%;
        }
        .n-radio__label {
            background: var(--editor-bg);
            width: 100%;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--editor-color-placeholder);
        }
        .n-radio--checked {
            .n-radio__label {
                background: var(--editor-text-active);
                color: var(--editor-text-color);
            }
        }
    }
    .AttrCardComponentColor {
        & > div {
            &:nth-child(1) {
                flex-shrink: 0;
            }
            &:nth-child(2) {
                flex: 1;
            }
        }
    }
    .n-switch {
        .n-switch__rail {
            --n-rail-color: var(--editor-bg);
        }
    }
    .AttrCardComponentSlider {
        cursor: ew-resize;
        & > div {
            &:nth-child(1) {
                flex-shrink: 0;
                width: 40px;
            }
            &:nth-child(2) {
                flex: 1;
            }
        }
        .n-slider {
            height: 100%;
            padding: 0;
            .n-slider-rail {
                height: 100%;
                background: #202124;
            }
            .n-slider-handle-wrapper {
                border-radius: 10px !important;
                height: 100% !important;
                width: 18px !important;
            }
            .n-slider-handle {
                border-radius: 10px !important;
                height: 100% !important;
            }
        }
    }
}
