@import url(../../icons/iconfont/iconfont.css);
@import url(./overrides.less);
@import url(./transition.less);

.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}

.m-r-5 {
    margin-right: 5px;
}
