@primary-color: #626aef;
@danger-color: #e00218;
@success-color: #38c83a;

:root {
    --primary-color: @primary-color;
    --danger-color: @danger-color;
    --success-color: @success-color;
    --wp-color-primary: var(--primary-color);
    --wp-color-danger: var(--danger-color);
    --wp-color-success: var(--success-color);
    --wp-checkbox-checked-color: var(--primary-color);
    --wp-radio-checked-color: var(--primary-color);
    --wp-menu-active-color: var(--primary-color);
    --wp-dropdown-min-width: 80px;
    --wp-dropdown-font-size: 14px;
}

.wp-tree-node {
    --wp-tree-node-hegiht: 35px;
}